html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* STYLE */

body{
    font: 16px/28px georgia, sans-serif ;
    background-color: #3C6255;
    color: #EAE7B1;
    background-image: url(img/leaves.png);

}

.tabbar{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
    height: 40px;
    background-color: lightgreen;
}

.container {
    width: 960px;
    margin: 80px auto;
    background-color: #61876E;
    position: relative;
}



/* header */
.header{
    padding: 20px;
}

.ig{
    background-image: url(img/instaa.png);
    width: 200px;
    height: 182px;
    background-repeat: no-repeat;
    text-indent: 9999;
    display: inline-block;
    position: absolute;
    right: -100px;
    top: 10px;
}


.judul{
    font-size: 40px;
    font-style: bold;
    margin-bottom: 15px;
}

.header ul li{
    display: inline-block;
}

.header a:hover{
    color: #ABC270;
}

.header a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #EAE7B1;
    padding-right: 15px;
}

/* gambar */
.gambar {
    height: 300px;
    background-image: url(img/Gambar2.jpg);
    background-size:cover;
    background-position: 0px -250px;
    border-top: 10px solid #A6BB8D ;
    border-bottom: 10px solid #A6BB8D;
    
}

/* main */

.konten2{
    width: 300px;
    padding-top: 10px;
    border: 1px solid black;
    float: right;
}

.konten2 h3{
    font-size: 15px;
    color: #EAE7B1;
    font-style: bold;
}


.konten2 .gambarpenulis{
    width: 150px;
    height: 200px;
    background-color: black;
    float: left;
    margin: 10px;
}

.konten2 p{
    color: #EAE7B1 ;
    font-size: 12px;
    margin: 10px;
}

.konten{
    padding-top:20px;
    width: 600px;
    box-sizing: border-box;
    border: 1px solid black;
    float: left;
}

.konten h2{
    font-size: 20px;
    font-style: bold;
    box-sizing: border-box;
    text-indent: 10px;    
}
.konten .para1{
    padding-top: 5px;
    padding-bottom: 20px;
    box-sizing: border-box;
    text-indent: 10px;
}

.konten .para1 a{
    text-decoration: none;
    color:#A6BB8D ;
    font-style: italic;
    box-sizing: border-box;
}


.konten p{
    text-indent: 10px;
    padding-bottom: 10px;
    text-align: justify;
    font-size: 14px;
    box-sizing: border-box;
    padding-left: 10px;  
}


.footer{
    background-color: black;
    margin-top: 20px;
    padding: 10px;
    width: 960px;
    box-sizing: border-box;
    float: left;
}

.footer .copy{
    text-align: center;
    color:#EAE7B1 ;
    font-size: 15px;
}



/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}